<section class="main">
    <div class="first-section">
        <div class="article">
            <h2>Article 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam officia ducimus delectus impedit
                reprehenderit necessitatibus accusantium et vitae, ab repudiandae a beatae inventore? Sapiente fugit
                dolorum fuga dicta consequuntur! Ipsum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam officia ducimus delectus impedit
                reprehenderit necessitatibus accusantium et vitae, ab repudiandae a beatae inventore? Sapiente fugit
                dolorum fuga dicta consequuntur! Ipsum.</p>
        </div>
        <div class="article">
            <h2>Article 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam officia ducimus delectus impedit
                reprehenderit necessitatibus accusantium et vitae, ab repudiandae a beatae inventore? Sapiente fugit
                dolorum fuga dicta consequuntur! Ipsum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam officia ducimus delectus impedit
                reprehenderit necessitatibus accusantium et vitae, ab repudiandae a beatae inventore? Sapiente fugit
                dolorum fuga dicta consequuntur! Ipsum.</p>
        </div>
        <div class="article">
            <h2>Article 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam officia ducimus delectus impedit
                reprehenderit necessitatibus accusantium et vitae, ab repudiandae a beatae inventore? Sapiente fugit
                dolorum fuga dicta consequuntur! Ipsum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam officia ducimus delectus impedit
                reprehenderit necessitatibus accusantium et vitae, ab repudiandae a beatae inventore? Sapiente fugit
                dolorum fuga dicta consequuntur! Ipsum.</p>
        </div>
    </div>
    <mat-divider class="divider"></mat-divider>

    <div class="second-section">
       

    </div>
</section>